@using DayOfFun.Model
@model DayOfFun.Models.View.QuizCreateViewModel

@{
    ViewData["Title"] = "Create new quiz";
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Create new quiz</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    @Html.ValidationSummary(false, "", new {@class = "text-danger"})
                    <div class="form-group mb-3">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control"/>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <div id="questions">
                            @for (int i = 0; i < Model.questions.Count; i++)
                            {
                                <div id="question_@i" class="row mb-3">
                                    <div class="col-8">
                                        @Html.TextBoxFor(m => m.questions[i].Text, new { @class = "searchBox", @id = "azureautosuggest" }) <input value="" class="searchBoxSubmit" type="submit">
                                        @*@Html.EditorFor(q => q.questions[i].Text)*@
                                    </div>
                                    <div class="col-4">
                                        <button id="btnremove" type="button" class="btn btn-sm btn-danger" onclick="deleteQuestion(this)">Delete</button>
                                    </div>
                                    <span asp-validation-for="questions[i].Text" class="text-danger"></span>
                                </div>
                                <br/>
                            }
                        </div>

                        <div class="row">
                            <div class="col-8"></div>
                            <div class="col-4">
                                <button id="btnadd" type="button" class="btn btn-sm btn-secondary" onclick="addQuestion(this)">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary btn-outline-success float-right"/>
                        <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                    </div>
                </form>
                <input type="hidden" id="lastIndex" value="0"/>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(document).ready( function ()
            { 
                debugger;
            $("#azureautosuggest").autocomplete({
                source: "/Quiz/SuggestAsync?highlights=false&fuzzy=false",
                minLength: 2,
                position: {
                    my: "left top",
                    at: "left-23 bottom+10"
                }
            })
        });
        
        function addQuestion(btn) {
            // prepare ID
            var idElement = document.getElementById("lastIndex")
            var lastRowId = idElement.value;
            var nexId = eval(lastRowId) + 1;
            idElement.value = nexId;
            
            var questionsHtmlElement = document.getElementById("questions");
            var divs = questionsHtmlElement.querySelectorAll('div[id^=question]');
            var divOuterHtml = divs[divs.length -1].outerHTML;
            divOuterHtml = divOuterHtml.replaceAll('_' + lastRowId + '_', '_' + nexId + '_');
            divOuterHtml = divOuterHtml.replaceAll('[' + lastRowId + ']', '[' + nexId + ']');
            
            var newRow = questionsHtmlElement.appendChild(document.createElement('div'))
            newRow.innerHTML = divOuterHtml;
            debugger;
        };  
        
        function deleteQuestion(btn) {
            btn.parentElement.parentElement.remove();
        }
    </script>
}