@model DayOfFun.Models.View.QuizCreateViewModel

@{
    ViewData["Title"] = "Create new quiz";
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Create new quiz</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create" onsubmit="updateIndexes()">
                    @Html.ValidationSummary(false, "", new {@class = "text-danger"})
                    <div class="form-group mb-3">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control"/>
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <div id="questions">
                            @for (int i = 0; i < Model.Questions.Count; i++)
                            {
                                <div id="question_@i" class="row mb-3">
                                    <div class="col-8">
                                        @Html.TextBoxFor(m => m.Questions[i].Text, new { @class = "searchBox autocomplete" })
                                    </div>
                                    <div class="col-4">
                                        <button id="btnremove" type="button" class="btn btn-sm btn-danger d-none" onclick="deleteQuestion('question_@i')">Delete</button>
                                    </div>
                                    <span asp-validation-for="Questions[i].Text" class="text-danger"></span>
                                </div>
                                <br/>
                            }
                        </div>

                        <div class="row">
                            <div class="col-8"></div>
                            <div class="col-4">
                                <button id="btnadd" type="button" class="btn btn-sm btn-secondary" onclick="addQuestion(this)">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary btn-outline-success float-right"/>
                        <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                    </div>
                </form>
                <input type="hidden" id="lastIndex" value="0"/>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(document).ready( function () { 
            $(".autocomplete").autocomplete({
                source: "/Quiz/Suggest"
            });}
        );
        
        function addAutocomplete(htmlElement) {
            $(htmlElement).autocomplete({
                source: "/Quiz/Suggest"
            });
        }
        
        function getNextId() {
            var lastIndex = 0;
            var elements = document.querySelectorAll("div[id*='question_']");
            for(let i = 0; i < elements.length + 1; i++) {
              if (!document.getElementById('question_' + i)) {
                  return i;
              }
            }
            return 0;
        }
        
        function addQuestion(btn) {
            // prepare ID
            var idElement = document.getElementById("lastIndex")
            var nextId = getNextId();
            idElement.value = nextId;
            
            var questionsHtmlElement = document.getElementById("questions");
            var divs = questionsHtmlElement.querySelectorAll("div[id='question_0']");
            var divOuterHtml = divs[divs.length -1].outerHTML;
            divOuterHtml = divOuterHtml.replaceAll('_0_', '_' + nextId + '_');
            divOuterHtml = divOuterHtml.replaceAll('[0]', '[' + nextId + ']');
            divOuterHtml = divOuterHtml = divOuterHtml.replaceAll('question_0', 'question_' + nextId);
            divOuterHtml = divOuterHtml = divOuterHtml.replaceAll('d-none', '');
            
            var newRow = questionsHtmlElement.appendChild(document.createElement('div'))
            newRow.innerHTML = divOuterHtml;
            addAutocomplete(newRow.getElementsByClassName('ui-autocomplete-input'));
        };  
        
        function deleteQuestion(elementId) {
            var element = document.getElementById(elementId);
            var idElement = document.getElementById("lastIndex")
            idElement.value = idElement.value -1;
            element.parentElement.remove();
        }
        
        function updateIndexes() {
            var iterator = 0;
            var elements = document.querySelectorAll("div[id*='question_']");
            for (const element of elements) {
                  var innerHtml = element.innerHTML;
                  innerHtml = innerHtml.replaceAll(/_\d_/g, '_' + iterator + '_');
                  innerHtml = innerHtml.replaceAll(/\[\d\]/g, '[' + iterator + ']');
                  var value = element.querySelector('input').value;
                  element.innerHTML = innerHtml;
                  element.querySelector('input').value = value;
                  iterator++;
            }
        }
    </script>
}