@using DayOfFun.Model
@model IEnumerable<DayOfFun.Model.Quiz>

@{
    ViewData["title"] = "List of quizes";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var quiz in Model)
                {
                    <tr>
                        <td class="align-middle">@quiz.Title</td>
                        <td class="align-middle">@quiz.State.ToString()</td>
                        <td>
                            
                            <button class="btn btn-primary">delete</button>
                            <button class="btn btn-primary">share</button>
                            <button class="btn btn-primary">view results</button>
                        </td>
                    </tr>
            }
            </tbody>
        </table>
    </div>
</div>
@*Define model*@
@*Define ViewData*@

@*Write code*@
<h1>Text</h1>